/* Asterisk Wildcard selector */
* {
    padding: 0;
    margin: 0;
}

/* General styles*/
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #d9e1e8;
}

/* Header */
header {
    background-color: #d9e1e8;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
}

header a {
    text-decoration: none;
    color: #3a3a3a
}

p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-align: center;
    padding: 5%;
}

/* Form */
form {
    max-width: 300px;
    padding: 20px;
}

/* Label */

label {
    display: block;
    margin: 8px;
    color: #3a3a3a;
}

/* Input */

input {
    width: 100%;
    padding: 10px;
    margin-top: 5%;
    border: 1px;
    border-radius: 5px;
    font-size: 1rem;
}

/* Button */

button {
    width: 100%;
    padding: 10px;
    margin-top: 16%;
    background-color: #fc583b;
    font-size: 1rem;
    cursor: pointer;
}

/* Button hover */

button:hover {
    background-color: #d9e1e8;
}

/* Menu */

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;
}

/* Menu list */

#menu>li {
    margin-bottom: 1em;
}

/* Main */
main {
    background-color: #455d73;
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6em;

}

#home,
#classes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #455d73;
    margin-top: 6em;
}

.flex-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-box {
    width: 300px;
    height: 300px;
    background-color: #f9ac4d;
    color: #3a3a3a;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
}

.flex-box .my-image {
    width: 100%;
    height: 100%
}

/* Footer */
#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 120%;
    padding: 5%;
    color: black;
}

/* Media query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;

    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
        color: #3a3a3a;
        text-align: center;
    }

    /* Main content*/
    main {
        /* Push main content down to accommodate larger code*/
        margin-top: 70px;
    }



    /* Large devices (Laptops and desktops, 992px and up) */
    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }

    }
}